// Body tones
$darkgray :#303441;
$lightergray :#f2f2f2; 
$brightred :#eb5055;
$darkred :#ca4549;
// Content tones
$blueishgray :#666d89;
$highlightgray :#cdcdce;
$bodytxtgray: #767e9e;
$lighterbodytxt :#f0d8d9;
$lighterbodytxtred :#f48c8f;
//Common tones
$white :#ffffff;
$black :#000000;

$font-primary :'Lato', sans-serif;